@charset "UTF-8";
video {
    width: 100%;
}

hr {
    border-color: #eee;
    opacity: 0.6;
    width: 80%;
}

#main {
    margin: 0;
}

.material-icons {
    font-size: 23px !important;
}

.ic {
    vertical-align: middle;
}

.controls-container {
    display: -webkit-flex;
    display: -ms-flexbox;
}

.progress-bar-hover {
    background: 0 0;
    cursor: pointer;
    pointer-events: all;
}

.controls-container, .video-details-container {
    box-sizing: border-box;
    overflow: visible;
    color: #212121;
}

.outside-hover-container {
    visibility: visible;
    opacity: .1;
    z-index: 1;
    padding-bottom: 60px;
    min-width: 300px;
    max-width: 100vw;
    transition: opacity .25s linear;
}

.left, .right {
    height: 16px;
    padding-bottom: 5px;
}

.outside-hover-container .progress-bar-hover {
    visibility: hidden;
}

.outside-hover-container.container--active {
    opacity: 1;
}

.outside-hover-container.container--active .progress-bar-hover {
    visibility: visible;
}

.controls-container {
    position: relative;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 12px;
    width: 100%;
    height: 16px;
}

.video-details-container {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 13px;
    width: 100%;
    font-size: 12px;
    line-height: 1.67;
}

.video-details-container .video-tag {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    opacity: .6;
}

.video-details-container .video-tag:hover {
    opacity: 1;
    text-decoration: underline;
}

.controls-container .ic {
    opacity: .6;
}

.controls-container .ic:hover {
    opacity: 1;
}

.left {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.left .ic {
    margin-right: 20px;
}

.right {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: auto;
}

.right .ic {
    margin-left: 20px;
}

.progress-bar-hover {
    position: relative;
    width: 100%;
    height: 7px;
    padding-top: 5px;
    border-radius: 50%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.ic {
    background-position: center;
}

.progress-bar-highlighted {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    margin-bottom: 1px;
    background-color: #fff;
    z-index: 10;
}

.progress-bar-hover:hover .progress-bar {
    height: 5px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #d8d8d8;
}

.progress {
    position: absolute;
    width: 0;
    background-color: #1b70ff;
    z-index: 11;
}

.progress {
    height: 100%;
}

.flex-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ic {
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 435px) and (orientation: portrait) {
    .controls-container, .video-details-container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 737px) {
    .video-details-container {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@-moz-document url-prefix() {
}

.mdl-components {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mdl-components-index {
    box-sizing: border-box;
    position: relative;
    padding-top: 64px;
}

.mdl-components .mdl-components__nav {
    display: inline-block;
    background: #fff;
    width: 200px;
    box-sizing: border-box;
    padding: 24px 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 1;
}

.mdl-components .mdl-components__pages {
    display: inline-block;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 120px;
}

.mdl-components .mdl-components__link {
    margin: 0 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .66);
    position: relative;
    padding-left: 40px;
    min-height: 34px;
    display: table;
    text-decoration: none;
}

.mdl-components .mdl-components__link-text {
    display: inherit;
    padding-top: 9px;
}

.mdl-components .mdl-components__nav_text {
    padding-left: 32px;
    font-size: 18pt;
}

.mdl-components .mdl-components__section {
    padding-left: 19px;
    font-size: 11pt;
    color: #cc181e;
    line-height: 13px;
}

.mdl-components .mdl-components__page {
    display: none;
    min-height: 100%;
}

.mdl-components .mdl-components__page.is-active {
    display: block;
}

.mdl-components__link-image {
    display: inline-block;
    margin: 0 10px;
    position: absolute;
    left: 0;
    top: 8px;

    border-radius: 50%;
    height: 46px;
    width: 23px;
}

@media (max-width: 850px) {

    hr {
        display: none;
    }

    .mdl-components .mdl-components__nav {
        position: fixed;
        left: 0;
        display: block;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 100%;
        height: 100px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 8px;
        z-index: 100;
        white-space: nowrap;
    }

    .mdl-components .mdl-components__section {
        display: inline-block;
        border-left: 1px solid #eee;
        padding: 25px 10px;
        height: 100%;
    }

    .mdl-components .mdl-components__nav_text {
        display: inline-block;
        padding: 20px;
    }

    .mdl-components__nav .mdl-components__link {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: auto;
        min-width: 48px;
        margin: 0 8px 0 0;
        padding-left: 0;
        padding-top: 10px;
    }

    .mdl-components__nav .mdl-components__link > * {
        display: block;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

    .mdl-components__nav .mdl-components__link > .mdl-components__link-image {
        position: static;
        width: 48px;
        height: 29px;
    }

    .mdl-components-index {
        padding-top: 100px;
    }
}

/**
 * material-design-lite - Material Design Components in CSS, JS and HTML
 * @version v1.2.0
 * @license Apache-2.0
 * @copyright 2015 Google, Inc.
 * @link https://github.com/google/material-design-lite
 */

html {
    color: rgba(0, 0, 0, .87);
}

::-moz-selection {
    background: #cc8687;
    text-shadow: none;
}

::selection {
    background: #cc8687;
    text-shadow: none;
}

video {
    vertical-align: middle;
}

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
    width: 100%;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

main {
    display: block;
}

html, body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

a {
    color: #ff4081;
    font-weight: 500;
}

@supports (-webkit-appearance:none) {
}

@supports (pointer-events:auto) {
}

.mdl-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.mdl-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.mdl-cell {
    box-sizing: border-box;
}

@media (max-width: 479px) {
    .mdl-grid {
        padding: 8px;
    }

    .mdl-cell {
        margin: 8px;
        width: calc(100% - 16px);
    }

    .mdl-cell--4-col {
        width: calc(100% - 16px);
    }

    .mdl-cell--12-col {
        width: calc(100% - 16px);
    }
}

@media (min-width: 480px) and (max-width: 839px) {
    .mdl-grid {
        padding: 8px;
    }

    .mdl-cell {
        margin: 8px;
        width: calc(50% - 16px);
    }

    .mdl-cell--4-col {
        width: calc(50% - 16px);
    }

    .mdl-cell--12-col {
        width: calc(100% - 16px);
    }
}

@media (min-width: 840px) {
    .mdl-grid {
        padding: 8px;
    }

    .mdl-cell {
        margin: 8px;
        width: calc(33.3333333333% - 16px);
    }

    .mdl-cell--4-col {
        width: calc(33.3333333333% - 16px);
    }

    .mdl-cell--12-col {
        width: calc(100% - 16px);
    }
}

/* Font face from Google Cloud */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}

